* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #01060c;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Cabeçalho */

.cabecalho {
    background-color: #01060c;
    display: flex;
    align-items: center;
}

.cabecalho_div {
    position: relative;
    left: 150px;
}

.cabecalho_nav {
    position: relative;
    left: 560px;
}

.cabecalho_imagem {
    width: 170px;
}

.cabecalho_item {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 25px 0 0 ;
}

/* 1. Seção - Sobre */

.sobre {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("imagens/sobre_fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}

.sobre::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.sobre > * {
    position: relative;
    z-index: 2;
}

.sobre_div {
    position: relative;
    left: 160px;
}

.sobre_titulo {
    color: #db580a;
    font-size: 48px;
}

.sobre_texto {
    font-size: 20px;
    margin: 20px 0 30px 0;
}

.sobre_botao {
    background-color: white;
    color: #db580a;
    border: transparent;
    border-radius: 30px;
    font-size: 22px;
    width: 270px;
    height: 50px;
}

/* 2.Seção - Carrosel */

.carrosel {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: left;
}

.carrosel_cards {
    display: flex;
    margin: auto;
}

.carrosel_card {
    background-color: white;
    border-radius: 20px;
    width: 460px;
    height: 520px;
}

.carrosel_imagem {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 50%;
}

.carrosel_card_titulo {
    margin: 20px 0px 10px 15px;
    color: #db580a;
    font-size: 28px;
}

.carrosel_card_texto {
    margin: 0px 0px 0px 15px;
    color: gray;
    font-size: 20px;
}

.carrosel_conteudo {
    margin: auto;
}

.carrosel_conteudo_titulo {
    color: #db580a;
    font-size: 36px;
}

.carrosel_conteudo_texto {
    text-align: justify;
    font-size: 22px;
    margin: 0 110px 0 0px;
}

/* 3.Seção - Dados */


.dados {
    position: relative;
    background-image: url("imagens/dados.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.dados::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.dados > * {
    position: relative;
    z-index: 2;
}

.dados_titulo {
    text-align: center;
    font-size: 40px;
    color: #db580a;
    padding: 50px 0px 0px 0px;
}

.dados_div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: 60px auto;
    justify-content: center;
}

.dados_linha1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 30px auto;
    flex-wrap: nowrap;
    max-width: 1200px;
}

.dados_linha2 {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 30px auto;
    max-width: 800px;
}

.dados_div_conteudo {
    width: 350px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dados_div_h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: white;
}

.dados_div_p {
    font-size: 23px;
    color: #ccc;
}


